.banner {
    height: 60px;
    margin: 0px -5px 10px;
    background-color: rgb(145, 16, 16);
    border-radius: 2px;
}
.banner h2{
    color: white;
    padding-top: 2px;
    margin-left: 2%;
    display: inline-block;
}
.banner H3 {
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}
.logout_button{
    position: relative;
    float:right;
    bottom:15px;
    right:10px;
    height:100px;
}
.image {
    margin-left: 50%;
    display:inline-block;
    float:right;
    vertical-align:top;
}
.Dropdowns{
    width:30%;
    display:inline-block;
}
.dropdown1 {
    width:50%;
    display: block;
    vertical-align: top;
}
.dropdown2 {
    position:relative;
    width:50%;
    display: block;
    vertical-align: top;
    float: left;
    left:250px;
}
